<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>


<div th:fragment="useNav">
    <div class="header">
        <h1><a th:href="@{/}">Logo</a></h1>
        <div class="nav">
            <ul>
                <li><a th:href="@{/}">HOME</a></li>
                <li><a th:href="@{/board}">BOARD</a></li>
                <li><a href="#">STORE</a></li>
                <li><a href="#">ETC</a></li>

                <li><a th:href="@{/user/loginPage}">LOGIN</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>