<!DOCTYPE html>

<head th:replace="~{fragment/head :: userHead ('메인페이지')}">


</head>

<body>
<div class="container">
    <div th:insert="~{fragment/nav :: useNav}">insert</div>


    <div class="main">

        <h1>Hello World!!!!</h1>
        <p>"Time weaves dreams of the future and memories of the past,
            as we embrace each moment with gratitude and
            march firmly on our journey.
        </p>
        <form action="/search">
            <input type="text" id="search" name="text" placeholder="Search for anything">
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div>

<!--    <div th:replace="~{fragment/footer :: usefooter}">insert</div>-->

</div>
</body>
</html>