<!DOCTYPE html>

<head th:replace="~{fragment/head :: userHead ('로그인 페이지')}">


</head>

<body>
<div class="container">
    <div th:insert="~{fragment/nav :: useNav}">insert</div>


    <div class="main">
        <h3>로그인</h3>
        <form action="/action_page.php" method="post">

            <input type="text" id="username" name="username" placeholder="아이디"><br>

            <input type="password" id="password" name="password" placeholder="비밀번호"><br>

            <input type="submit" class="submit" value="로그인"><br>
        </form>
        <button><a th:href="@{/user/signUp}">회원가입</a></button>
    </div>

    <!--    <div th:replace="~{fragment/footer :: usefooter}">insert</div>-->

</div>
</body>
</html>